         
         .btn-grad {
            background-image: linear-gradient(to right, #70e1f5 0%, #ffd194  51%, #70e1f5  100%);
            margin-top: 16px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
            scale: 1.2;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
            scale: 1.3;
          }



          .svg-container {
            position: fixed; /* Keeps the container in a fixed position */
            top: 50%; /* Vertically centered */
            left: 50%; /* Horizontally centered */
            transform: translate(-50%, -90%); /* Center the container */
        }
         